<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Security form</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="text-center mb-3">Security form</h1>

    <form class="object-form container-fluid"
          th:action="@{/security/save}"
          th:object="${security}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="d-flex justify-content-center">
            <div class="inputs">

                <div>
                    <label class="input-label" for="id">id</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('id')}"
                         th:text="'Invalid data'"
                         th:errors="*{id}">secId error
                    </div>
                    <input class="form-control" th:field="*{id}"
                           id="id" required type="number">
                </div>

                <div>
                    <label class="input-label" for="sec-id">sec id</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('secId')}"
                         th:errors="*{secId}">secId error
                    </div>
                    <input class="form-control" th:field="*{secId}"
                           id="sec-id" required maxlength="64" type="text">
                </div>

                <div>
                    <label class="input-label" for="short-name">short name</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('shortname')}"
                         th:errors="*{shortname}">shortname error
                    </div>
                    <input class="form-control" th:field="*{shortname}"
                           maxlength="64"
                           id="short-name" type="text">
                </div>

                <div>
                    <label class="input-label" for="reg-number">reg number</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('regnumber')}"
                         th:errors="*{regnumber}">regnumber error
                    </div>
                    <input th:field="*{regnumber}" maxlength="64" class="form-control" id="reg-number" type="text">
                </div>

                <div>
                    <label class="input-label" for="name">name</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}">name error
                    </div>
                    <input th:field="*{name}" maxlength="128" class="form-control" id="name" type="text">
                </div>

                <div>
                    <label class="input-label" for="isin">isin</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('isin')}"
                         th:errors="*{isin}">isin error
                    </div>
                    <input th:field="*{isin}" maxlength="128" class="form-control" id="isin" type="text">
                </div>

                <div>
                    <label class="input-label" for="is-traded">is traded</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('isTraded')}"
                         th:errors="*{isTraded}">isTraded error
                    </div>
                    <input th:field="*{isTraded}" class="form-control"
                           id="is-traded" type="number">
                </div>

                <div>
                    <label class="input-label" for="emitent-id">emitent id</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('emitentId')}"
                         th:errors="*{emitentId}">emitentId error
                    </div>
                    <input th:field="*{emitentId}"
                           class="form-control" id="emitent-id" type="number">
                </div>

            </div>

            <div class="inputs">
                <div>
                    <label class="input-label" for="emitent-title">emitent title</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('emitentTitle')}"
                         th:errors="*{emitentTitle}">emitentTitle error
                    </div>
                    <input th:field="*{emitentTitle}"
                           th:maxlength="128"
                           class="form-control" id="emitent-title" type="text">
                </div>

                <div>
                    <label class="input-label" for="emitent-inn">emitent inn</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('emitentInn')}"
                         th:errors="*{emitentInn}">emitentInn error
                    </div>
                    <input th:field="*{emitentInn}"
                           maxlength="64"
                           class="form-control" id="emitent-inn" type="text">
                </div>

                <div>
                    <label class="input-label" for="emitent-okpo">emitent okpo</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('emitentOkpo')}"
                         th:errors="*{emitentOkpo}">emitentOkpo error
                    </div>
                    <input th:field="*{emitentOkpo}"
                           maxlength="64"
                           class="form-control" id="emitent-okpo" type="text">
                </div>

                <div>
                    <label class="input-label" for="gos-reg">gos reg</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('gosreg')}"
                         th:errors="*{gosreg}">gosreg error
                    </div>
                    <input th:field="*{gosreg}" maxlength="128" class="form-control" id="gos-reg" type="text">
                </div>

                <div>
                    <label class="input-label" for="type">type</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('type')}"
                         th:errors="*{type}">type error
                    </div>
                    <input th:field="*{type}" maxlength="64" class="form-control" id="type" type="text">
                </div>

                <div>
                    <label class="input-label" for="group">group</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('group')}"
                         th:errors="*{group}">group error
                    </div>
                    <input th:field="*{group}" maxlength="64" class="form-control" id="group" type="text">
                </div>

                <div>
                    <label class="input-label" for="primary-board-id">primary board id</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('primaryBoardid')}"
                         th:errors="*{primaryBoardid}">primaryBoardid error
                    </div>
                    <input th:field="*{primaryBoardid}" maxlength="4"
                           class="form-control" id="primary-board-id" type="text">
                </div>

                <div>
                    <label class="input-label" for="market-price-board-id">market price board id</label><br>
                    <div class="c-error"
                         th:if="${#fields.hasErrors('marketPriceBoardid')}"
                         th:errors="*{marketPriceBoardid}">marketPriceBoardid error
                    </div>
                    <input th:field="*{marketPriceBoardid}" maxlength="4" class="form-control"
                           id="market-price-board-id" type="text">
                </div>

                <div>
                    <input class="mt-4 btn btn-outline-dark btn-lg" type="submit">
                </div>
            </div>
        </div>
    </form>
    <div class="spacer"></div>
</div>
</body>
</html>