<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Security form</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="text-center mb-3">Security form</h1>

    <form class="object-form container-fluid" action="">
        <div class="d-flex justify-content-center">
            <div class="inputs">
                <div>
                    <label class="input-label" for="sec-id">sec id</label><br>
                    <input class="form-control" id="sec-id" type="text">
                </div>

                <div>
                    <label class="input-label" for="short-name">short name</label><br>
                    <input class="form-control" id="short-name" type="text">
                </div>

                <div>
                    <label class="input-label" for="reg-number">reg number</label><br>
                    <input class="form-control" id="reg-number" type="text">
                </div>

                <div>
                    <label class="input-label" for="name">name</label><br>
                    <input class="form-control" id="name" type="text">
                </div>

                <div>
                    <label class="input-label" for="isin">isin</label><br>
                    <input class="form-control" id="isin" type="text">
                </div>

                <div>
                    <label class="input-label" for="is-traded">is traded</label><br>
                    <input class="form-control" id="is-traded" type="number">
                </div>


                <div>
                    <label class="input-label" for="emitent-id">emitent id</label><br>
                    <input class="form-control" id="emitent-id" type="number">
                </div>

                <div>
                    <label class="input-label" for="emitent-title">emitent title</label><br>
                    <input class="form-control" id="emitent-title" type="text">
                </div>
            </div>

            <div class="inputs">
                <div>
                    <label class="input-label" for="emitent-inn">emitent inn</label><br>
                    <input class="form-control" id="emitent-inn" type="text">
                </div>

                <div>
                    <label class="input-label" for="emitent-okpo">emitent okpo</label><br>
                    <input class="form-control" id="emitent-okpo" type="text">
                </div>

                <div>
                    <label class="input-label" for="gos-reg">gos reg</label><br>
                    <input class="form-control" id="gos-reg" type="text">
                </div>

                <div>
                    <label class="input-label" for="type">type</label><br>
                    <input class="form-control" id="type" type="text">
                </div>

                <div>
                    <label class="input-label" for="group">group</label><br>
                    <input class="form-control" id="group" type="text">
                </div>

                <div>
                    <label class="input-label" for="primary-board-id">primary board id</label><br>
                    <input class="form-control" id="primary-board-id" type="text">
                </div>

                <div>
                    <label class="input-label" for="market-price-board-id">market price board id</label><br>
                    <input class="form-control" id="market-price-board-id" type="text">
                </div>

                <div>
                    <input class="mt-4 btn btn-outline-dark btn-lg" type="submit">
                </div>
            </div>
        </div>
    </form>
    <div class="spacer"></div>
</div>
</body>
</html>