<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>Security table</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="text-center">Security table</h1>

    <a th:href="@{/security/new}">
        <button class="btn btn-outline-dark mb-3">NEW</button>
    </a>
    <div th:if="${!securities.empty}">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">
                    <a th:href="@{'/security/?page=' + ${page} + '&sort=secId' + ${reverseOrder}}">secid</a></th>
                <th scope="col">
                    <a th:href="@{'/security/?page=' + ${page} + '&sort=id' + ${reverseOrder}}">id</a>
                </th>
                <th scope="col">
                    <a th:href="@{'/security/?page=' + ${page} + '&sort=regnumber' + ${reverseOrder}}">regnumber</a>
                </th>
                <th scope="col">
                    <a th:href="@{'/security/?page=' + ${page} + '&sort=shortname' + ${reverseOrder}}">shortname</a>
                </th>
                <th scope="col">
                    <a th:href="@{'/security/?page=' + ${page} + '&sort=isin' + ${reverseOrder}}">emitent_title</a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="security : ${securities}">
                <td><a th:href="@{/security/{id}(id=${security.getId()})}"
                       th:text="${security.getSecId()}">secid</a></td>
                <td th:text="${security.getId()}">id</td>
                <td th:text="${security.getRegnumber()}">regnumber</td>
                <td th:text="${security.getShortname()}">shortname</td>
                <td th:text="${security.getIsin()}">isin</td>

                <td align="center">
                    <form th:action="@{/security/delete(id=${security.getId()})}" th:method="delete">
                        <button onclick="return confirm('Delete this object?')"
                                class="btn btn-outline-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
                        <a type="submit"></a>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${page <= 0} ? disabled : ''">
                            <a class="page-link"
                               th:href="@{'/security/?page=' + ${page - 1} + '&sort='+${sort}}"
                               tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/security/?page=' + ${page + 1} + '&sort='+${sort}}"
                            >Next</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <div th:unless="${!securities.empty}">
        <div class="center">
            <h2>No fields found!</h2>
            <a href="#" onclick="history.back()" style="text-decoration: none;">
                <button class="btn btn-outline-primary btn-lg" style="margin: 0 auto; display: block;">Go Back</button>
            </a>
        </div>
    </div>

</div>
</body>
</html>