<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="center">
        <h2 th:text="${errorMessage}">Error message</h2>
        <a href="#" onclick="history.back()" style="text-decoration: none;">
            <button class="btn btn-outline-primary btn-lg" style="margin: 0 auto; display: block;">Go Back</button>
        </a>
    </div>
</div>
</body>
</html>