<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>View</title>
</head>

<body>
<div layout:fragment="content">
    <h1>View</h1>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">secid</th>
                <th scope="col">regnumber</th>
                <th scope="col">name</th>
                <th scope="col">emitent_title</th>
                <th scope="col">tradedate</th>
                <th scope="col">numtrades</th>
                <th scope="col">open</th>
                <th scope="col">close</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>