<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}">
<head>
    <title>History table</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="text-center">History table</h1>

    <a th:href="@{/history/new}">
        <button class="btn btn-outline-dark mb-3">NEW</button>
    </a>

    <div th:if="${!histories.empty}">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col"><a th:href="@{'/history/?page=' + ${page} + '&sort=id' + ${reverseOrder}}">id</a></th>
                <th scope="col"><a th:href="@{'/history/?page=' + ${page} + '&sort=secId' + ${reverseOrder}}">secid</a></th>
                <th scope="col">
                    <a th:href="@{'/history/?page=' + ${page} + '&sort=boardId' + ${reverseOrder}}">board id</a>
                </th>
                <th scope="col">
                    <a th:href="@{'/history/?page=' + ${page} + '&sort=shortname' + ${reverseOrder}}">short name</a>
                </th>
                <th scope="col">
                    <a th:href="@{'/history/?page=' + ${page} + '&sort=tradeDate' + ${reverseOrder}}">trade date</a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${histories}">
                <td><a th:text="${history.getId()}" th:href="@{/history/{id}(id=${history.getId()})}">id</a></td>
                <td th:text="${history.getSecId()}">secid</td>
                <td th:text="${history.getBoardId()}">boardid</td>
                <td th:text="${history.getShortname()}">shortname</td>
                <td th:text="${history.getTradeDate()}">tradedate</td>

                <td align="center">
                    <form th:action="@{/history/delete(id=${history.getId()})}" th:method="delete">
                        <button onclick="return confirm('Delete this object?')"
                                class="btn btn-outline-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
                        <a type="submit"></a>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${page <= 0} ? disabled : ''">
                            <a class="page-link"
                               th:href="@{'/history/?page=' + ${page - 1} + '&sort='+${sort}}"
                               tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/history/?page=' + ${page + 1} + '&sort='+${sort}}"
                            >Next</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <div th:unless="${!histories.empty}">
        <div class="center">
            <h2>No fields found!</h2>
            <a href="#" onclick="history.back()" style="text-decoration: none;">
                <button class="btn btn-outline-primary btn-lg" style="margin: 0 auto; display: block;">Go Back</button>
            </a>
        </div>
    </div>

</div>
</body>
</html>