<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>History form</title>
</head>

<body>
<div layout:fragment="content">
    <h1>History form</h1>

    <div>
        <form class="object-form container-fluid" action="">
            <div class="d-flex justify-content-center">
                <div class="inputs">
                    <div>
                        <label class="input-label" for="board-id">board id</label><br>
                        <input class="form-control" id="board-id" type="text">
                    </div>

                    <div>
                        <label class="input-label" for="trade-date">trade date</label><br>
                        <input class="form-control" id="trade-date" type="date">
                    </div>

                    <div>
                        <label class="input-label" for="short-name">short name</label><br>
                        <input class="form-control" id="short-name" type="text">
                    </div>

                    <div>
                        <label class="input-label" for="sec-id">sec id</label><br>
                        <input class="form-control" id="sec-id" type="text">
                    </div>

                    <div>
                        <label class="input-label" for="num-trades">num trades</label><br>
                        <input class="form-control" id="num-trades" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="value">value</label><br>
                        <input class="form-control" id="value" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="open">open</label><br>
                        <input class="form-control" id="open" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="close">low</label><br>
                        <input class="form-control" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="high">high</label><br>
                        <input class="form-control" id="high" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="legal-close-price">legal close price</label><br>
                        <input class="form-control" id="legal-close-price" type="number">
                    </div>
                </div>

                <div class="inputs">
                    <div>
                        <label class="input-label" for="wa-price">wa price</label><br>
                        <input class="form-control" id="wa-price" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="close">close</label><br>
                        <input class="form-control" id="close" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="volume">volume</label><br>
                        <input class="form-control" id="volume" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="market-price2">market price2</label><br>
                        <input class="form-control" id="market-price2" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="market-price3">market price3</label><br>
                        <input class="form-control" id="market-price3" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="admitted-quote">admitted quote</label><br>
                        <input class="form-control" id="admitted-quote" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="mp2-val-trd">mp2 val trd</label><br>
                        <input class="form-control" id="mp2-val-trd" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="admitted-value">admitted value</label><br>
                        <input class="form-control" id="admitted-value" type="number">
                    </div>

                    <div>
                        <label class="input-label" for="wa-val">wa val</label><br>
                        <input class="form-control" id="wa-val" type="number">
                    </div>

                    <div>
                        <input class="mt-4 btn btn-outline-dark btn-lg" type="submit">
                    </div>
                </div>
            </div>
        </form>
        <div class="spacer"></div>
    </div>
</div>
</body>
</html>